@import url('https://fonts.googleapis.com/css2?family=Alata&family=Barlow:wght@600&family=Big+Shoulders+Display:wght@700&family=Commissioner:wght@400;500;700&family=Fraunces:wght@700;900&family=Inter:wght@300;400;500;700&family=Josefin+Sans:wght@300&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Manrope:wght@500;600;700&family=Open+Sans&family=Outfit:wght@400;700;800&family=Overpass:wght@300;600&family=Poppins:wght@400;600;700&family=Raleway:wght@400;700&family=Red+Hat+Display:wght@500;700;900&family=Space+Mono:wght@700&family=Spartan:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap');

:root{
    --Lime-Green: hsl(163, 72%, 41%);
    --Bright-Red: hsl(356, 69%, 56%);
    --Facebook: hsl(208, 92%, 53%);
    --Twitter: hsl(203, 89%, 53%);
    --Instagram: linear-gradient(90deg, hsl(37, 97%, 70%),hsl(329, 70%, 58%));
    --YouTube: hsl(348, 97%, 39%);
    --linear1:hsl(210, 78%, 56%);
    --linear2:hsl(146, 68%, 55);
    --Toggle2: hsl(230, 22%, 74%);
    --Very-Dark-Blue-BG: hsl(230, 17%, 14%);
    --Very-Dark-Blue-Top-BG-Pattern: hsl(233, 27%, 17%);
    --Dark-Desaturated-Blue-Card-BG: hsl(228, 28%, 20%);
    --Desaturated-Blue-Text: hsl(228, 34%, 66%);
    --White-Text: hsl(0, 0%, 100%);
    --White-BG: hsl(0, 0%, 100%);
    --Very-Pale-Blue-Top-BG-Pattern: hsl(225, 100%, 98%);
    --Light-Grayish-Blue-Card-BG: hsl(227, 47%, 96%);
    --Dark-Grayish-Blue-Text: hsl(228, 12%, 44%);
    --Very-Dark-Blue-Text: hsl(230, 17%, 14%);
}

/* CLASS LIST SECTION RESPOND TO JAVASCRIPT TOGGLE */
.dark-body{
    background-color: var(--Very-Dark-Blue-BG);
}
.darkHeadCard{
    background-color: var(--Very-Dark-Blue-Top-BG-Pattern);
    color:var(--White-Text);
}
.text{
    color:var(--White-Text);
    font-size: 25px;
}
.darkCards{
    background-color:var(--Dark-Desaturated-Blue-Card-BG);
    color:var(--White-Text);
    /* border:2px solid wheat; */
}
.h4Text{
    color:var(--Dark-Grayish-Blue-Text);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: var(--White-BG);
    padding:0px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    position: relative;
}

header{
    background-color: var(--Very-Pale-Blue-Top-BG-Pattern);
    padding:20px;
    border-radius:10px;
    text-align: left;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

header h2{
    font-size:20px;
    color:#000;
    margin:10px 0;
}

header h4{
    margin:0px 0 30px;
    color:var(--Dark-Grayish-Blue-Text);
}

header .button{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
    margin:0;
    padding:30px 0 100px;
    border-top:2px solid var(--Dark-Grayish-Blue-Text);
    width:100%;
}

header .button p{
    padding:0px 20px 0 0;
    color:var(--Dark-Grayish-Blue-Text);
    font-weight:800;
}

.switch{
    position: relative;
    display: inline-block;
    width:40px;
    height:20px;
    margin:0 5px;
    /* border:2px solid black;  */
}

.slider{
    position: absolute;
    cursor: pointer;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:lightgray;
    border-radius: 34px;
    transition:.4s;
}

.switch input{
    display: block;
    position: relative;
    width:50px;
    height:60px;
    left:0px;
    z-index:3;
    opacity:0;
}

.slider:before{
    position: absolute;
    content:'';
    height:15px;
    width:15px;
    left:5px;
    bottom:3px;
    background-color: #fff;
    transition: .4s;
    border-radius:50px;
}

input:checked + .slider{
    background-image:linear-gradient(70deg, rgb(30, 145, 198), rgb(19, 136, 89));
}

input:checked + .slider:before{
    transform: translateX(17px) ;
}



/* CONTAINER SECTION  */
.container{
    position: absolute;
    padding:0px 20px;
    top:220px;
    width:98%;
}

.container .sub-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

section{
    background: var(--Light-Grayish-Blue-Card-BG);
    border-radius:6px;
    margin:0 0 20px;
    padding:30px 20px;
    width:94%;
}

section .aside{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10px 0;
}

section .aside p{
    font-weight: 600;
    color:var(--Dark-Grayish-Blue-Text)
}

section .aside img{
    margin:0 5px 0 0;
}

section h1{
    font-size:40px;
    font-weight: 900;
}

section .para{
    letter-spacing: .2rem;
    color:var(--Dark-Grayish-Blue-Text);
    margin:5px 0 20px;
}

section .aside .para2{
    color:var(--Lime-Green);
    font-weight: 600;
}

section:first-child{
    border-top:5px solid var(--Facebook);
}

section:nth-child(2){
    border-top:5px solid var(--Twitter);
}

section:nth-child(3){
    border-top:5px solid hsl(329, 70%, 58%);
}

section:nth-child(4){
    border-top:5px solid var(--YouTube);
    margin:20px 0 0;
}

section:nth-child(4) .para2{
    color:var(--Bright-Red);
}

/* OVERVIEW SECTION */
.overview{
    margin:20px 0 0 10px;
}
.headerarticle{
    background: transparent;
    text-align: left;
    padding:20px 0;
    margin:0;
}

.headerarticle .overviewHeader{
    color:var(--Dark-Grayish-Blue-Text);
    font-size:25px;
}

.overview section{
    border:none;
    margin:20px 0;
    width:100%;
}

.overview section aside{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.overview section .margin{
    margin:30px 0 0px;
}

.overview section aside img{
    margin:0 10px 0 0;
}

.overview section aside aside p{
    color:var(--Lime-Green);
}

.overview section aside aside .red{
    color:var(--Bright-Red);
}

.attribution{
    padding:20px 0 30px;
}

@media screen and (min-width:700px){
    header{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-direction: row;
        width:95%;
        margin:10px 20px 30px;
        overflow-x: hidden;
        padding:20px 30px 100px;
    }

    header .button{
        border:none;
        width:auto;
        align-items: center;
    }

    .container{
        top:200px;
    }

    .container .sub-container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    section{
        width:35%;
        margin:0 10px;
    }

    section:nth-child(4){
        margin:15px 10px;
    }

    .overview .overview-flex{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

    .overview section{
        margin:15px 15px 0 0;
        width: 20%;
    }
}

@media screen and (min-width:1200px) {

    header{
        padding:20px 100px 100px; 
    }
    section{
        width:20%;
    }

    .overview h2{
        margin:20px 0 0 100px;
    }
}

